@import "tailwindcss";
@import "@heroui/styles";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc; /* Slate-50 background in light mode */
  --foreground: #09090b; /* Zinc-950 foreground in light mode */
}

.dark {
  --background: #09090b; /* Zinc-950 background in dark mode */
  --foreground: #f4f4f5; /* Zinc-100 foreground in dark mode */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
